<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="./css/reset.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <div id='app'>
      <div class="box days">
        <div class="counter">
        </div>
        <div class="text">
          Days
        </div>
      </div>
      <div class="box hours">
        <div class="counter">
        </div>
        <div class="text">
          Hours
        </div>
      </div>
      <div class="box minutes">
        <div class="counter">
        </div>
        <div class="text">
          Minutes
        </div>
      </div>
      <div class="box seconds">
        <div class="counter">
        </div>
        <div class="text">
          Seconds
        </div>
      </div>
    </div>
</body>
</html>
